<div class="container">
      
            <div class="datos">Ingrese los daatos del Producto</div>
            <div> 
                  <div>
                        <label for="nombre">Nombre</label>
                  <input type="text" name="" id="nombre">
                  </div>
                  <div>
                        <label for="descripcion">Descripción</label>
                  <input type="text" name="" id="descripcion">
                  </div>
                  <div>
                        <label for="costo">Costo</label>
                        <input type="text" name="" id="costo">
                  </div>
                  
                  
                 

            </div>
            <div class="agregar">
                  <button class="btn btn-primary">Agregar Producto</button>
            </div>
    </div>